<% htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %>
<% htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || [] %>
<% htmlWebpackPlugin.options.libraries = htmlWebpackPlugin.options.libraries || [] %>
<!DOCTYPE html>
<head>
  <title>Banner Build Setup</title>
  <meta name=viewport                    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <!-- <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Karla|Lato'> -->
  <link rel="icon" type="image/png"      href="http://www.14four.com/favicon.ico">
  <% for (item of htmlWebpackPlugin.options.links) { %>
  <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
	<link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
  <% } %>
  <% for (item of htmlWebpackPlugin.options.libraries) { %>
  <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
  <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
  <% } %>
  <% for (item of htmlWebpackPlugin.options.config) { %>
  <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
  <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
  <% } %>
</head>
  <body>
    <div id="root"></div>
    <% for (item of htmlWebpackPlugin.options.scripts) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
  	<script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
    <% } %>
  </body>
</html>
