@import './variables.scss';

* {
  box-sizing: border-box;
}

.banner {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  font-family: "ToyotaType", "Montserrat", Helvetica, Arial, sans-serif;
  backface-visibility: hidden;
  p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.border {
  position: absolute;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  background: #cccccc;
}

.border-n {
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
}

.border-e {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}

.border-s {
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.border-w {
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
}

.hidden {
  opacity: 0;
}
