@function size($mySize) {
  @return (($size == $mySize) or ($size == 'dev'));
}

@function variation($myVariation) {
  @return (($variation == $myVariation) or ($variation == 'dev'));
}

@function ending($myEnding) {
  @return (($ending == $myEnding) or ($ending == 'dev'));
}
