<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script>
    window.images = <%= htmlWebpackPlugin.options.images %>
  </script>
  <% for (item of htmlWebpackPlugin.options.libraries) { %>
  <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
  <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
  <% } %>
</head>
<body>
  <div id="root"></div>
  <script src="index.js" type="text/javascript"></script>
</body>
</html>