@import './variables.scss';

.banner-component {
  display: inline-block;
  background-color: $white;
  margin: 10px;
  padding: 10px;

  .extra {
    margin: 10px;
    margin-bottom: 0;
    display: flex;
  }

  .subtitle{
    margin: 0;
  }

  .banner-info{
    display: flex;
    justify-content: space-between;
  }

  .selector{
    .Select{
      width: 100%;
      max-width: 20em;
    }
  }
}
