@mixin font($font) {
  @font-face {
    font-family: $font;
    src: url('/assets/fonts/' + $font + '.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/' + $font + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/' + $font + '.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/' + $font + '.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/' + $font + '.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
}

@import url('https://fonts.googleapis.com/css?family=Toyota+Type:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&key=HMJVmbm9bHsUV1p1');

@font-face {
  font-family: 'ToyotaType';
  src: url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Bold.eot');
  src: url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Bold.eot?#iefix') format('embedded-opentype'),
      url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Bold.woff2') format('woff2'),
      url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ToyotaType';
  src: url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Regular.eot');
  src: url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Regular.eot?#iefix') format('embedded-opentype'),
      url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Regular.woff2') format('woff2'),
      url('http://saatchi-toyota-cdn.lamp.14four.com/ToyotaType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@include font('14four-book');
@include font('14four-hairline');
@include font('14four-light');

@include font('robotoslab-bold');
@include font('robotoslab-light');
@include font('robotoslab-regular');
@include font('robotoslab-thin');
