@import './variables.scss';

.header {
  height: auto;
  position: relative;

  .header-content{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    padding-bottom: 0;
  }

  .header-home{
    display: flex;
    align-items: center;
    color: $purpleMedium;
    text-decoration: none;
    outline: none;

    &-arrow{
      position: relative;
      width: 2em;
      height: 3em;

      &::before, &::after{
        content: '';
        position: absolute;
        top: -1em; bottom: 0; left: 0;
        margin: auto;
        width: 0.05em;
        height: 1.5em;
        background-color: $greyDark;
        transform-origin: bottom;
      }

      &::before{
        transform: rotate(135deg);
      }
      &::after{
        transform: rotate(45deg);
      }
    }

    &-title{
      font-family: $robotoSlabThin;
      font-size: 3em;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
    }
  }
  
  .header-campaign{
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;

    &-title{
      color: $purpleMedium;
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
    }

    &-img{
      $size: 3em;
      width: $size;
      height: $size;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 1.5em;
    }
  }

  .img-container{
    margin: 0 0 1em 0;
    // height: 2.08em;
    height: 3em;
    display: flex;
    .left-img, .right-img, .middle-img{
      height: 100%;
    }
    .left-img, .right-img{
      background-repeat: repeat;
      background-position: center bottom;
      background-image: url("/assets/img/lines.svg");
    }
    .left-img{
      // flex: 2;
      width: 300px;
    }
    .middle-img{ }
    .right-img{
      flex: auto;
    }
  }
}
