@import './variables.scss';

.info-icon{
  display: flex;
  align-items: center;

  &-img{
    width: 0.8em;
    margin-right: 0.1em;
  }

  .text-container{
    transform: translateY(-0.2em);
    font-weight: 200;
    font-size: 0.7em;
    margin-right: 0.2em;
  }
}
