@import './variables.scss';

input[type=text], input[type=number] {
  border: none;
  border-radius: 0px;
  outline: none;
  font-size: 15px;
  width: 10.5em;
  padding: 8px 10px;
}

button {
  padding: 10px 30px;
  background: $red;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
}