@import './variables.scss';

html, body {
  background-color: $whiteAlt;
}

*{
  box-sizing: border-box;
}

.small-icon{
  width: 1em;
}

.filter-message{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}