@import './variables.scss';

.selector{
  width: 100%;
  .Select{
    width: 100%;
    // width: 10em;
    flex-shrink: 0;
    outline: none;

    &.is-open{
      .Select-arrow{
        transform: rotate(-180deg);
      }
    }

    .Select-control{
      border: none;
      border-radius: 0px;
    }

    .Select-arrow{
      display: inline-block;
      border: none;
      transition: transform 0.2s ease-in-out;
      transform-origin: center center;
      transform: rotate(0deg);
      width: 20px;
      height: 10px;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
      pointer-events: none;

      &::before, &::after{
        content: '';
        position: absolute;
        background-color: $greyDark;
        width: 1px;
        height: 9px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &::before{
        transform-origin: bottom right;
        transform: rotate(45deg);
      }
      &::after{
        transform-origin: bottom left;
        transform: rotate(-45deg);
      }
    }

    .Select-input{
      position: absolute;
      background-color: transparent;
      top: 0; bottom: 0; left: 5px;
      margin: auto;
      height: 90%;
      display: flex;
      justify-content: flex-start;

      input{
        background-color: transparent;
      }
    }

    .Select-value{
      > .Select-value-label{
        color: $purpleDark !important;
        font-size: 15px !important;
      }
    }

    .Select-option{
      position: relative;
      background-color: transparent;
      text-align: center;

      &.is-selected{
        background-color: $white;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 8px;
          height: inherit;
          background-color: $purpleMedium;
        }
      }
    }

    .Select-menu-outer{
      background: linear-gradient(#DDDDDD, #E2E1E3);
      border: none;
      border-radius: 0;
    }
  }
}
