@import './variables.scss';

.select-banner{
  &-content{
    min-height: calc(100vh - 140px);
    display: flex;
  }

  .sidebar{
    flex-shrink: 0;
  }

  .group{
    display: flex;
    flex-wrap: wrap;
  }

  .banner-container{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .load-more{
      width: auto;
      margin: 20px;
    }
  }
}
