@import './variables.scss';

.sidebar {
  width: 12em;
  // background-color: $white;
  
  .sidebar-content{
    width: inherit;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
  }
}
