@import './variables.scss';

html, body {
  font-family: Helvetica;
}

.subtitle{
  color: $red;
  text-transform: uppercase;
  font-family: 'Arial';
  letter-spacing: 0.05em;
}

.menu-title{
  color: $red;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
  font-family: $robotoSlabLight;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
}
