// COLORS

$greyLighter:     #E2E1E3;
$greyLight:       #CFCDD0;
$greyDark:        #9F9AA1;
$black:           #100315;
$purpleDark:      #1B0534;
$purpleMedium:    #3E114C;
$purpleLight:     #653A7F;
$red:             #CD5358;
$redLight:        #DD7983;
$whiteDark:       #F4F4F6;
$white:           #FBFBFD;
$whiteAlt:        #F8F8F8;
$blueDark:        #75C4E5;
$blue:            #78CEE3;
$yellow:          #F8D563;
$yellowLight:     #F9DC7E;

// TRANSITIONS

$transitionSuperslow:   0.5s;
$transitionSlower:      0.4s;
$transitionSlow:        0.3s;
$transitionSlowish:     0.25s;
$transitionNormal:      0.2s;
$transitionFast:        0.15s;
$transitionFaster:      0.10s;
$transitionSuperfast:   0.05s;
$transitionFastest:     0.025s;

$fourFontBold: '14four-book';
$fourFontLight: '14four-light';
$fourFontHairline: '14four-hairline';
$robotoSlabBold: 'robotoslab-bold';
$robotoSlabRegular: 'robotoslab-regular';
$robotoSlabLight: 'robotoslab-light';
$robotoSlabThin: 'robotoslab-thin';
