.car {
  will-change: transform;
}

.car, .car-body, .car-wheel, .car-rim-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.car-body {
  position: relative;
  z-index: 1;
}

.car-wheel {
  z-index: 0;
  transform: translateZ(-500px);
}

.car-rims {
}

.car-rim-wrapper {
  z-index: 2;
}

.car-rim {
  filter: blur(2px);
}