@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.Deal-768x1024 {
  $height: 1024px;
  $width: 768px;
  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta-container {
    text-align: center;
    position: absolute;
    right: 39px;
    bottom: 28px;
  }

  .cta {
    display: inline-block;
    transform: translateZ(0);
    background: #d51921;
    border-radius: 99px;
    padding: 12px 38px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: $white;
    transition: all 0.15s linear;
    border: 3px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border: 3px solid $white;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 30px;
    color: $white;
    font-size: 12px;
    left: 224px;
    width: 42%;
    line-height: 1.2;
    text-align: center;
    div {
      transform: translateZ(0);
    }
  }

  .apr-container {
    transform: translateZ(0);
    text-align: center;
    display: table;
    position: absolute;
    top: 318px;
    left: 0;
    color: $white;
    width: 594px;
    height: 187px;
    line-height: 0.9;
    font-weight: 700;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    display: inline-block;
    font-size: 130px;
  }

  .apr-copy {
    margin-left: 20px;
    display: inline-block;
    font-size: 130px;
    span {
      font-size: 0.5em;
      vertical-align: top;
    }
  }

  .apr-sub {
    font-weight: 300;
    font-size: 37px;
    position: relative;
    top: 24px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    width: 594px;
    text-align: center;
    font-size: 38px;
    top: 183px;
    left: 0;
    color: $white;
  }

  .separator {
    border-bottom: 1px solid $white;
    position: absolute;
    top: 279px;
    left: 140px;
    width: 314px;
  }

  .legal-overlay {
    font-size: 20px;
  }
}
