@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.MobileAwareness-970x90 {
  $height: 90px;
  $width: 970px;

  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta {
    position: absolute;
    top: 8px;
    right: 24px;
    background: #d51921;
    border-radius: 99px;
    padding: 3px 16px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    transition: all 0.15s linear;
    border: 2px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid transparent;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 7px;
    color: #666666;
    font-size: 5.2px;
    right: 0px;
    text-align: center;
    width: 141px;
  }

  .apr-container {
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    width: 162px;
    height: 185px;
    line-height: 0.9;
    font-weight: 500;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    font-size: 82px;
  }

  .apr-copy {
    font-size: 56px;
  }

  .apr-sub {
    font-size: 8px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    width: 150px;
    text-align: center;
    font-size: 15.5px;
    top: 61px;
    left: 65px;
  }

  .footer-bg {
    position: absolute;
    box-shadow: inset 0px 0px 5px 10px rgba(0, 0, 0, 0.4);
    left: calc(100% - 162px);
    top: -100%;
    width: 200px;
    height: 300%;
  }
}
