@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.Deal-970x90 {
  $height: 90px;
  $width: 970px;
  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta-container {
    text-align: center;
    position: absolute;
    right: 20px;
    top: 12px;
  }

  .cta {
    display: inline-block;
    transform: translateZ(0);
    background: #d51921;
    border-radius: 99px;
    padding: 4px 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: $white;
    transition: all 0.15s linear;
    border: 2px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid transparent;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 22px;
    color: $white;
    font-size: 6px;
    right: 37px;
    line-height: 1.2;
    text-align: center;
    color: #666666;
    div {
      transform: translateZ(0);
    }
  }

  .apr-container {
    transform: translateZ(0);
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    left: 136px;
    color: $white;
    width: 220px;
    height: 78px;
    line-height: 0.9;
    font-weight: 700;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    display: inline-block;
    font-size: 45px;
  }

  .apr-copy {
    margin-left: 6px;
    display: inline-block;
    font-size: 45px;
    span {
      font-size: 0.5em;
      vertical-align: top;
    }
  }

  .apr-sub {
    font-weight: 300;
    font-size: 11px;
    position: relative;
    top: 5px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    width: 135px;
    text-align: center;
    font-size: 13.5px;
    top: 58px;
    right: 187px;
  }

  .separator {
    border-right: 1px solid $white;
    position: absolute;
    top: 10px;
    left: 134px;
    width: 1px;
    height: 70px;
  }

  .legal-overlay {
    font-size: 7px;
  }
}
