@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.MobileAwareness-300x250 {
  $height: 250px;
  $width: 300px;

  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta {
    position: absolute;
    bottom: 9px;
    right: 9px;
    background: #d51921;
    border-radius: 99px;
    padding: 7px 18px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    transition: all 0.15s linear;
    border: 2px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid $white;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 10px;
    color: $white;
    font-size: 5px;
    left: 154px;
    transform: translateX(-50%);
    text-align: center;
    width: 90px;
  }

  .apr-container {
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    width: 162px;
    height: 185px;
    line-height: 0.9;
    font-weight: 500;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    font-size: 82px;
  }

  .apr-copy {
    font-size: 56px;
  }

  .apr-sub {
    font-size: 8px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    width: 150px;
    text-align: center;
    font-size: 16px;
    top: 88px;
    left: 35px;
  }
}
