@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.DesktopAwareness-120x600 {
  $height: 600px;
  $width: 120px;

  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 100px;
    transform: translateX(-50%);
    background: #d51921;
    border-radius: 99px;
    font-size: 11px;
    text-align: center;
    line-height: 1;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    transition: all 0.15s linear;
    border: 1px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border: 1px solid $white;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 13px;
    line-height: 1.2;
    color: $white;
    font-size: 8.5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 95%;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
  }

  .apr-container {
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    width: 162px;
    height: 185px;
    line-height: 0.9;
    font-weight: 500;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    font-size: 82px;
  }

  .apr-copy {
    font-size: 56px;
  }

  .apr-sub {
    font-size: 8px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    text-align: center;
    font-size: 17px;
    top: 195px;
    line-height: 1;
    left: 0px;
    width: 107px;
  }
}
