.legal-overlay {
  position: absolute;
  left: 0;
  z-index: 400;
  cursor: default;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px;
  padding-top: 21px;
  font-size: 8px;
  line-spacing: 11px;
  overflow-y: auto;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 1!important;
  &.visible {
    transition: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(0%);
    visibility: visible;
  }
  .legal-overlay-close {
    position: absolute;
    right: 4px;
    top: 4px;
    background: #000000;
    font-size: 8px;
    padding: 7px 7px 7px 4px;
    color: #ffffff;
    font-weight: bold;
    line-height: 0px;
    height: 15px;
    width: 15px;
    border: 1px solid #ffffff;
    text-align: center;
    display: block;
  }
}