@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.Deal-300x600 {
  $height: 600px;
  $width: 300px;
  height: $height;
  width: $width;
  background-color: $white;
  position: relative;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .cta-container {
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 14px;
  }

  .cta {
    display: inline-block;
    transform: translateZ(0);
    background: #d51921;
    border-radius: 99px;
    padding: 7px 18px;
    font-size: 8.5px;
    text-transform: uppercase;
    font-weight: 300;
    color: $white;
    transition: all 0.15s linear;
    border: 2px solid #d51921;
    &:hover {
      background-color: #ffffff;
      color: #d51921;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid $white;
      border-radius: 99px;
    }
  }

  .legal {
    position: absolute;
    bottom: 16px;
    color: $white;
    font-size: 6px;
    left: 108px;
    width: 25%;
    line-height: 1;
    text-align: center;
    div {
      transform: translateZ(0);
    }
  }

  .apr-container {
    transform: translateZ(0);
    text-align: center;
    display: table;
    position: absolute;
    top: 162px;
    left: 0;
    color: $white;
    width: 220px;
    height: 187px;
    line-height: 0.9;
    font-weight: 700;
  }

  .apr-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .apr-percent {
    font-size: 116px;
  }

  .apr-copy {
    font-size: 80px;
    span {
      font-size: 0.5em;
      vertical-align: top;
    }
  }

  .apr-sub {
    font-weight: 300;
    font-size: 16px;
    position: relative;
    top: 11px;
  }

  .wipe-container {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      top: auto;
      bottom: 0;
    }
  }

  .event-date {
    position: absolute;
    color: #d51921;
    width: 220px;
    text-align: center;
    font-size: 17px;
    top: 95px;
    left: 0;
    color: $white;
  }

  .separator {
    border-bottom: 1px solid $white;
    position: absolute;
    top: 148px;
    left: 32px;
    width: 157px;
  }

  .legal-overlay {
    font-size: 10px;
  }
}
