@import '../_core/styles/layout.scss';
@import '../_core/styles/variables.scss';

.<%= concept %>-<%= size %> {
  // $height: 250px;
  // $width: 300px;

  // height: $height;
  // width: $width;
  background-color: $white;
}
